#========================
# OS
#========================
.DS_Store
Thumbs.db

#========================
# IDE
#========================
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

#========================
# Flutter
#========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Generated documentation
doc/api/

#========================
# Android
#========================
android/.gradle/
android/local.properties

android/app/debug/
android/app/profile/
android/app/release/

# Signing
android/key.properties
*.jks
*.keystore

#========================
# iOS
#========================
ios/Flutter/.last_build_id
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

ios/Pods/
ios/.symlinks/

#========================
# macOS
#========================
macos/Pods/

#========================
# Linux
#========================
linux/flutter/ephemeral/

#========================
# Windows
#========================
windows/flutter/ephemeral/

#========================
# Environment
#========================
.env
.env.*
!.env.example

#========================
# Firebase
#========================
google-services.json
GoogleService-Info.plist
firebase_options.dart

#========================
# Logs
#========================
*.log

#========================
# Cache
#========================
.cache/

#========================
# Misc
#========================
*.class
*.pyc
*.swp
.history
.atom/
.build/
.buildlog/
.svn/
.swiftpm/
migrate_working_dir/

# Isar Database local files
*.isar
*.isar.lock